[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "parsel"]
	path = parsel
	url = https://github.com/till-tietz/parsel
	shallow = true
	registered = true
